# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
import matplotlib.pyplot as plt
import requests
import scipy.stats as st
import numpy as np
import json
import pandas as pd
from api_keys import weather_api_key
import random
from citipy import citipy

In [45]:
url = "http://api.openweathermap.org/data/2.5/weather?"
units= "imperial"

## Generate Cities List

In [72]:
# for index,value in enumerate(cities[:5]):
#     print(index,value)
# for index in range(len(cities[:5])):
#     print(index,cities[index])
# for city in cities[:5]:
#     print(city)

In [68]:
# lists for latitudes and longitudes and cities

lat_lons = []
cities = []

# Use random to generate and add to lists random latitude and longitudes and citipy to find
# closest city and add to lists
lats = np.random.uniform(low=-90,high=90, size =1500)
lons = np.random.uniform(low=-180,high=180,size=1500)
lat_lons = zip(lats,lons)


for lat_lon in lat_lons:
    city = citipy.nearest_city(lat_lon[0],lat_lon[1]).city_name
    if city not in cities:
        cities.append(city)
            
               
# format open weather url               
query_url = f"{url}appid={weather_api_key}&units={units}&q="

# create lists to collect metadata
city_name = []
lat_list = []
lon_list = []
max_temp = []
humidity = []
cloudiness = []
wind_speed = []
country = []
date = []

print("Beginning Data Retreval")
print('----------------------------------------------------------')
# use enumerate for 
index_count = 0
set_count = 1
for city in cities[:4]:
    try:
        response = requests.get(f"{query_url}{city}").json()
        city_name.append(response['name'])
        lat_list.append(response['coord']['lat'])
        lon_list.append(response['coord']['lon'])
        max_temp.append(response['main']['temp_max'])
        humidity.append(response['main']['humidity'])
        cloudiness.append(response['clouds']['all'])
        wind_speed.append(response['wind']['speed'])
        country.append(response['sys']['country'])
        date.append(response['dt'])
        if index_count > 49:
            index_count=0
            set_count+=1
        else:
            index_count+=1
        print(f"Processing Record {index_count} of Set {set_count}: {city}")
    except(KeyError, IndexError):
        print("City not found. Skipping...")
print('----------------------------------------------------------')
print('Data Retrieval Complete')
print('----------------------------------------------------------')

Beginning Data Retreval
----------------------------------------------------------
Processing Record 1 of Set 1: surgut
Processing Record 2 of Set 1: puerto ayora
Processing Record 3 of Set 1: north charleston
Processing Record 4 of Set 1: norman wells
----------------------------------------------------------
Data Retrieval Complete
----------------------------------------------------------

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [49]:

data_dict = {"City":city_name,'Lat':lat_list,'Lng':lon_list,'Max Temp':max_temp,
            'Humidity':humidity,'Cloudiness':cloudiness,'Wind Speed':wind_speed,
            'Country':country,'Date':date}
city_weather_df = pd.DataFrame(data_dict)

city_weather_df.to_csv(r'C:\Users\Joe\Documents\Boot_Camp\Homework\Week_6\06-Python-APIs\python-api-challenge\WeatherPy\WeatherPy.csv', index = False)


city_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Busselton,-33.65,115.33,68.16,65,100,12.24,AU,1604121475
1,Fremont,37.55,-121.99,57.99,71,1,0.43,US,1604121410
2,Pocon√©,-16.26,-56.62,71.10,74,100,4.99,BR,1604121607
3,Hermanus,-34.42,19.23,55.00,79,0,4.00,ZA,1604121607
4,Butaritari,3.07,172.79,82.45,76,39,19.55,KI,1604121607
...,...,...,...,...,...,...,...,...,...
554,Flin Flon,54.77,-101.86,20.98,97,100,17.40,CA,1604121706
555,Rawson,-43.30,-65.10,59.38,42,0,12.46,AR,1604121647
556,Gladstone,-23.85,151.25,86.00,51,4,11.41,AU,1604121706
557,Khuzhir,53.19,107.34,31.71,86,100,8.46,RU,1604121706
558,Alekseyevsk,57.84,108.35,23.59,90,100,2.17,RU,1604121706

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
city_weather_df['Humidity'] = city_weather_df['Humidity'].astype(int)

In [73]:
city_weather_df.head()
#.loc
#grouby()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Busselton,-33.65,115.33,68.16,65,100,12.24,AU,1604121475
1,Fremont,37.55,-121.99,57.99,71,1,0.43,US,1604121410
2,Pocon√©,-16.26,-56.62,71.10,74,100,4.99,BR,1604121607
3,Hermanus,-34.42,19.23,55.00,79,0,4.00,ZA,1604121607
4,Butaritari,3.07,172.79,82.45,76,39,19.55,KI,1604121607

In [80]:
# city_weather_df.loc[ 2,"Lng" ]
# city_weather_df.loc[ : ,"Lng" ]
# city_weather_df.loc[1:2, 'Lng':'Max Temp']
# city_weather_df.loc[city_weather_df["Humidity"]<50 ,:]
city_weather_df.loc[(city_weather_df["Humidity"]<50) & (city_weather_df["Cloudiness"]>75),:]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
54,Helena,46.59,-112.04,48.20,42,90,13.87,US,1604121611
92,Jidong,45.22,131.08,53.11,40,100,9.73,CN,1604121624
225,Yumen,40.28,97.20,48.74,43,99,20.40,CN,1604121646
299,Tsaratanana,-16.78,47.65,71.96,45,78,13.76,MG,1604121660
327,Mildura,-34.20,142.15,73.00,46,90,11.41,AU,1604121407
357,Katobu,-4.94,122.53,91.15,48,87,1.54,ID,1604121671
443,Tezu,27.92,96.17,82.42,44,92,1.92,IN,1604121687

In [63]:
#  Get the indices of cities that have humidity over 100%.
# index of matching element 
humidity_high = city_weather_df.loc["Humidity"]

SyntaxError: 'return' outside function (<ipython-input-63-dc2fc7232f96>, line 5)

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression